#container_home {
    width: 100%;
    height: 400px;
    box-sizing: content-box;
}

#link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.171);
    color: aliceblue;
    text-decoration-line: none;
}

#opcao_home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30% !important;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 3%;
    background-color: #043b04;
    border: 1px solid white;
    color: aliceblue;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#opcao_home:hover {
    background-color: #047904;
    border: 1px solid white;
    color: aliceblue;
}
