body {
    background-color: rgb(238, 238, 238);
}

#header_cliente {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 7%;
}

#header_cliente_link {
    display: flex;
    margin-top: 150px;
    text-align: start;
    justify-content: center;
    width: 100%;
    height: 30px;
    text-decoration: none;
    background-color: rgba(14, 139, 248, 0);
}

#link_cliente {
    width: 300px;
    height: 50px ;
    background-color: rgb(4, 59, 20);
    border: 1px solid rgb(2, 10, 2);
    box-sizing: border-box;
    border-radius: 5px;
}

#link_cliente:hover {
    background-color: rgb(6, 87, 29);
}

#link_cliente a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px ;
    text-decoration: none;
}

#form_cliente {
    text-align: center !important;
    margin-bottom: 5%;
}

#container_cliente {
    width: 100%;
    margin-top: -150px;
    display: block;
    justify-content: center;
    border: none;
}

#cliente_dados {
    margin: 0 auto;
    width: 60%;
}

#container_dados_cliente {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(189, 189, 189, 0.089);
    padding: 2%;
    width: 80%;
    height: 850px;
    display: grid;
    text-align: start;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 2px solid rgba(59, 59, 59, 0.863);
}

.MuiInputBase-input {
    width: 500px !important;
    margin-bottom: 50px;
}

#salvar_cliente {
    width: 20%;
    height: 60px;
    font-size: medium;
    background-color: rgb(4, 95, 42);
}

#salvar_cliente:hover {
    background-color: rgb(4, 116, 51);
    border: 0.5px solid rgb(5, 51, 24);
}